.products
  width: 95%
  margin: 0 auto

  &.horizontal
    .item
      height: auto
      text-align: left

      img
        float: left
        width: 50%
        margin-right: 15px

      .price
        right: 10px
        width: auto

  // Fix to slick carousel (body * max-width from default style was breaking the slick...)
  *
    max-width: none

  .item
    +border-radius(4px)
    +box-sizing(border-box)
    +transition(all 0.1s)

    position: relative
    display: block
    width: 200px
    height: 380px
    overflow: hidden
    padding: 10px
    margin: 10px
    border: 2px solid transparent
    background: #fff
    color: $color-base
    font-weight: bold
    text:
      align: center
      decoration: none

    &:hover
      border-color: $color-base

    img
      width: 100%

    .name
      margin-top: 5px
      color: #000
      font-size: 0.9em

    .price
      position: absolute
      bottom: 10px
      width: 100%
      color: $color-base
      font-size: 1.7em
