.Overlay.Recomendacao--thanks
  display: none
  position: absolute
  left: 0
  top: 115px
  width: 100%
  height: 400px
  background: #eee

  h3
    margin-top: 30px
    font:
      weight: bold
      size: 2.3em
    text-align: center

  .profile
    +border-radius(4px)
    +box-sizing(border-box)
    +transition(all 0.1s)

    width: 70%
    overflow: hidden
    padding: 20px
    margin: 20px auto 0
    background: #fff
    color: $color-base

    .avatar
      $size: 110px
      +border-radius($size)

      float: left
      width: $size
      height: $size
      overflow: hidden
      margin-right: 20px

      img
        width: 100%

    h4
      font:
        weight: bold
        size: 1.9em
