@import compass/css3
@import compass/utilities

@media (max-width: 768px)
  body
    > table
      padding: 0 15px

  img[src="assets/img/logo.jpg"]
    height: 90px
    width: auto

  table
    width: 100%
    margin: 0

    table
      tr
        &:last-child
          td
            width: 100%
            margin: 0

  td
    display: block
    width: 100%
    padding:
      left: 0 !important
      right: 0 !important
    text-align: center

  [bgcolor="#f8a23d"]
    width: 70%
    margin: 0 auto 20px
