.products {
  width: 95%;
  margin: 0 auto;
}
.products.horizontal .item {
  height: auto;
  text-align: left;
}
.products.horizontal .item img {
  float: left;
  width: 50%;
  margin-right: 15px;
}
.products.horizontal .item .price {
  right: 10px;
  width: auto;
}
.products * {
  max-width: none;
}
.products .item {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  display: block;
  width: 200px;
  height: 380px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  border: 2px solid transparent;
  background: #fff;
  color: #f8a23d;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.products .item:hover {
  border-color: #f8a23d;
}
.products .item img {
  width: 100%;
}
.products .item .name {
  margin-top: 5px;
  color: #000;
  font-size: 0.9em;
}
.products .item .price {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #f8a23d;
  font-size: 1.7em;
}

.Overlay.Recomendacao--thanks {
  display: none;
  position: absolute;
  left: 0;
  top: 115px;
  width: 100%;
  height: 400px;
  background: #eee;
}
.Overlay.Recomendacao--thanks h3 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 2.3em;
  text-align: center;
}
.Overlay.Recomendacao--thanks .profile {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 70%;
  overflow: hidden;
  padding: 20px;
  margin: 20px auto 0;
  background: #fff;
  color: #f8a23d;
}
.Overlay.Recomendacao--thanks .profile .avatar {
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  border-radius: 110px;
  float: left;
  width: 110px;
  height: 110px;
  overflow: hidden;
  margin-right: 20px;
}
.Overlay.Recomendacao--thanks .profile .avatar img {
  width: 100%;
}
.Overlay.Recomendacao--thanks .profile h4 {
  font-weight: bold;
  font-size: 1.9em;
}
